.App{
  text-align: center;
  background-image: url("https://cutewallpaper.org/21/pokedex-phone-wallpaper/Rotom-Smartphone-pokemon.png");
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
